export HAKC_ROOT=$(git rev-parse --show-toplevel)
export HAKC_INSTALL_PATH=$HAKC_ROOT/install
export HAKC_BUILD_ROOT=$HAKC_ROOT/cmake-build-hakc
export HAKC_LLVM_SOURCE_PATH=$HAKC_ROOT/llvm-project
export HAKC_LLVM_BUILD_PATH=$HAKC_BUILD_ROOT/llvm-project
export HAKC_LINUX_BUILD_PATH=$HAKC_BUILD_ROOT/linux
export HAKC_SUPPORT_SCRIPTS_PATH=$HAKC_ROOT/scripts/support
export HAKC_TEST_ROOT=$HAKC_ROOT/llvm-project/llvm/test/Transforms/Compartmentalization
export HAKC_CLANG=$HAKC_INSTALL_PATH/bin/clang
export HAKC_OPT=$HAKC_INSTALL_PATH/bin/opt
