hakc-jg.log
test.bc
build-linux-armv8-rosdemo/source/
build-kuzu/
python/venv/
python/analysis/kuzu-test/

**/__pycache__/
.idea/
cmake-build-*/
install/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/linux-build

# symbolic links to make browsing files easier in clion
hakc_include
hakc_lib
hakc_test
hakc_utils
/flexc/compartmentalizations/
/flexc/analysis/
