diff --git a/Kconfig b/Kconfig
index 745bc773f567..7cad052b5855 100644
--- a/Kconfig
+++ b/Kconfig
@@ -11,6 +11,8 @@ source "init/Kconfig"
 
 source "kernel/Kconfig.freezer"
 
+source "kernel/Kconfig.hakc"
+
 source "fs/Kconfig.binfmt"
 
 source "mm/Kconfig"
