45a46,76
> config HAKC_DEMO_LEAK
>   bool "Enable leaking pointers for HAKC demos"
>   default y
>   help
>     Allows pointers to be leaked for HAKC demos
> 
> config HAKC_XPAD_INSERT_COMMAND
>   bool "Insert extra commands into Kobuki streams for HAKC Turtlebot 2 demo"
>   default n
>   help
>     When enabled, inserts LED toggle command into Kobuki command stream going to Turtlebot.
> 
> config HAKC_XPAD_RANDOMIZE
>   bool "Periodically flip the sign of radius and speed values in Kobuki BaseCommands."
>   default y
>   help
>     When enabled, the speed and radius values in Kobuki BaseCommands will be modified every N seconds under exploit.
> 
> config HAKC_XPAD_RANDOMIZE_INTERVAL
>   int "Interval for modifying Kobuki BaseCommands."
>   depends on HAKC_XPAD_RANDOMIZE
>   default 5
>   help
>     Interval length for modifying Kobuki BaseCommands..
> 
> config HAKC_KOBUKI_CHECKSUM_TWEAK
>   bool "Keep doing checksum for non-BaseCommand payloads."
>   default y
>   help
>     Did not have checksum update for non-BaseCommand payloads before and it still worked, just in case.
> 
